@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #0f0f10;
  --panel: #151518;
  --border: #27272a;
  --text: #fafafa;
  --muted: #a1a1aa;
}